.header {
  display: flex;
  height: 90px;
  justify-content: space-between;
  align-items: center;

  &__links {
    display: flex;
    gap: 20px;
    align-items: center;

    &__link {
      color: #ECF1F0;
      text-decoration: none;
      font-size: 16px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;

      &--active {
        color: #0FAE96 !important;
      }

      &:hover {
        cursor: pointer;
      }
    }
  }
}