.features {
  display: flex;
  flex-direction: column;
  gap: 69px;

  &__secondary {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: #B6B6B6;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
  }

  &__title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 28px;
  }

  &__cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 24px;
    align-items: center;
  }

  &__new {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.08);
    margin-top: 59px;

    &__text {
      display: flex;
      flex-direction: column;
      gap: 12px;
      max-width: 50%;

      span {
        color: #ECF1F0;
        font-feature-settings: 'salt' on, 'liga' off;
        font-family: 'Raleway', sans-serif;
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: 32px;
      }
    }
  }
}

@media screen and (max-width: 800px){
  .features {
    &__new {
      flex-direction: column;
      gap: 20px;

      &__text {
        max-width: max-content;
      }
    }
  }
}