#root, body {
    margin: 0;
    padding: 0;
    font-family: "Raleway", sans-serif;
}

body {
    padding: 0 10%;
    height: 100vh;
    background: rgb(25,10,41);
}

h1 {
    color: #ECF1F0;
    font-feature-settings: 'salt' on, 'liga' off;
    font-family: 'Raleway', sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 44px;
    margin: 0;
}
